header{
    background-color:black;
    color:white;
}

header h1{
    font-family: Verdana;
}


h1{
    text-decoration: underline;
}

footer{
    text-align: center;
    background-color: black;
    color: lightgray;
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px;
    padding-top: 3px;
    width:100%;
    font-size: 13px;
}

section{
    text-align: center;
}