header{
    background-color:black;
    color:white;
}

header h1{
    font-family: Verdana;
}


h1{
    text-decoration: underline;
}

footer{
    text-align: center;
    background-color: black;
    color: lightgray;
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px;
    padding-top: 3px;
    width:100%;
    font-size: 13px;
}

section{
    text-align: center;
}

nav{
    background-color: lightgray;
}

#todolist{
    display: inline-block;
    padding: 10px;
    border-collapse: collapse;
}

#todolist td{
    border: 2px solid black;
    padding: 5px;
}

#todolist.checked{
    cursor: pointer;
    position: relative;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#todolist #name.checked{
    text-decoration: line-through;
    background-color: lightgray;
}